@{
    Layout = "Shared/_Layout.cshtml";
}
@section additionalScripts{
    <script>
        var scrollToElement = function (element) {
            $('html, body').animate({
                scrollTop: $(element).offset().top - 200
            }, 1000);
        };
        $(document).ready(function () {
            $(this).scrollTop(0);
            $('.circle').click(function (e) {
                e.preventDefault();
                scrollToElement($(this).attr('href'));
            });
        });
    </script>
     }
<div class="section-wrapper">    
    <section id="home-content">
        <hgroup>
            <h1>The Best of Both Worlds</h1>
            <h2>The Freedom of Your Own Home</h2>
            <h2>The Amenities of a Shared Community</h2>
        </hgroup>
        <a href="#documents" class="circle"><i class="icon-chevron-down"></i></a>
    </section>
</div>
<div class="section-wrapper">
    <section id="documents">
        <p>Documents</p>
        <a href="#rules" class="circle"><i class="icon-chevron-down"></i></a>
    </section>
</div>
<div class="section-wrapper">
    <section id="rules">
        <p>Rules & Regulations</p>
        <a href="#help" class="circle"><i class="icon-chevron-down"></i></a>
    </section>
</div>
<div class="section-wrapper">
    <section id="help">
        <p>Help</p>
        <a href="#contacts" class="circle"><i class="icon-chevron-down"></i></a>
    </section>
</div>
<div class="section-wrapper">
    <section id="contacts">
        <p>Contacts</p>
    </section>
</div>