@{
    Layout = "Shared/_Layout.cshtml";
}
<div id="wrapper">
    <section id="home-content">
        <hgroup>
            <h1>The Best of Both Worlds</h1>
            <h4>The Freedom of Your Own Home</h4>
            <h4>The Ammenities of a Shared Community</h4>
        </hgroup>
    </section>
</div>