@{
    Layout = "Shared/_Layout.cshtml";
}
<div id="wrapper">
    <section id="home-content">
        <hgroup>
            <h1>The Best of Both Worlds<i class="icon-check-sign"></i></h1>
            <h2>The Freedom of Your Own Home</h2>
            <h2>The Ammenities of a Shared Community</h2>
        </hgroup>
        <a href="#" class="circle"><i class="icon-chevron-down"></i></a>
    </section>
    <section id="#documents" style="display:none;line-height: 0;">Documents</section>
</div>