<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap -->
        <link href="/Content/themes/bootstrap.css" rel="stylesheet" />
        <link href="/Content/themes/bootstrap-responsive.css" rel="stylesheet" />
        <link href="/Content/themes/styles/font-awesome.css" rel="stylesheet" />
        <link href="/Content/themes/styles/local.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,800,800italic' rel='stylesheet' type='text/css' />
        @RenderSection("additionalStyles", false)
        <script src="/Content/Scripts/jquery-2.0.2.min.js"></script>
        <script src="/Content/Scripts/bootstrap.min.js"></script>              
        @RenderSection("additionalScripts", false)
        <script>
            var scrollToElement = function (element) {
                $('html, body').animate({
                    scrollTop: $(element).offset().top - 200
                }, 1000);
                return false;
            };
            var absoluteHashing = function(hashname, home) {
                // set elem to scroll value
                var elem = (home) ? hashname.replace('/#_', '#') : hashname.replace('#_', '#');
                // find element to scroll to
                if (elem) {
                    window.location.hash = elem;
                    scrollToElement(elem);
                }
            };
            $(document).ready(function () {
                // replace # with #_ in all links containing #
                alert('load page');
                $('a[href*=#]').each(function () {
                    $(this).attr('href', $(this).attr('href').replace('#', '#_'));
                });
                $(this).scrollTop(0);
                absoluteHashing(window.location.hash, $("#home-content").length > 0);
                $('.brand').click(function () {
                    scrollToElement('body');
                });
                $('.circle').click(function (e) {
                    e.preventDefault();
                    scrollToElement($(this).attr('href'));
                });
                $('.nav a[href*="#"]').click(function () {
                    //if home page remove slash and scroll...
                    if ($("#home-content").length > 0) {
                        absoluteHashing($(this).attr('href'), true);
                    }     
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div id="main"></div>
            <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/"><i class="icon-home"></i> Plaza Village Condominiums</a>
                        <div class="nav-collapse collapse pull-right">
                            <ul class="nav">
                                <li class="dropdown-split-left"><a href="/#documents">Documents</a></li>
                                <li class="dropdown dropdown-split-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/#documents"><i class="icon-folder-open"></i> Documents</a></li>
                                        <li class="divider"></li>
                                        <li><a href="http://plazavillagecondos.com/_documents/handbook8-2009.pdf"><i class="icon-file"></i> Handbook</a></li>
                                        <li><a href="#"><i class="icon-file"></i> Fees</a></li>
                                        <li><a href="#"><i class="icon-file"></i> Bylaws</a></li>
                                        <li><a href="#"><i class="icon-file"></i> Budget</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-split-left"><a href="/#rules">Rules & Regulations</a></li>
                                <li class="dropdown dropdown-split-right"><a class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="/#rules"><i class="icon-file"></i> Rules & Regulations Handbook</a></li>
                                        <li class="divider"></li>
                                        <li class="nav-header">Rules</li>
                                        <li><a href="#"><i class="icon-star"></i> Pet Rules</a></li>
                                        <li><a href="#"><i class="icon-star"></i> Pool Rules</a></li>
                                        <li><a href="#"><i class="icon-star"></i> Parking Rules</a></li>
                                    </ul>
                                </li>
                                <li><a href="/#help">Help <i class="icon-question-sign"></i></a></li>
                                <li><a href="/#contacts">Contact <i class="icon-phone-sign"></i></a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
        <!-- Scripts
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        
    </body>
</html>