<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap -->
        <link href="/Content/themes/bootstrap.css" rel="stylesheet" />
        <link href="/Content/themes/bootstrap-responsive.css" rel="stylesheet" />
        <link href="/Content/themes/styles/local.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,800,800italic' rel='stylesheet' type='text/css' />
        @RenderSection("additionalStyles", false)
        
        <script src="/Content/Scripts/jquery-2.0.2.min.js"></script>
        <script src="/Content/Scripts/bootstrap.min.js"></script>
        <script src="/Content/Scripts/jquery.address-1.5.min.js"></script>
        @RenderSection("additionalScripts", false)
    </head>
    <body>
        <div class="container">
            <div id="main"></div>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand active" href="#">Plaza Village Condominiums</a>
                        <div class="nav-collapse collapse pull-right">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Documents <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Handbook</a></li>
                                        <li><a href="#">Fees</a></li>
                                        <li><a href="#">Bylaws</a></li>
                                        <li><a href="#">Budget</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rules & Regulations <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Rules & Regulations Handbook</a></li>
                                        <li class="divider"></li>
                                        <li class="nav-header">Rules</li>
                                        <li><a href="#">Pet Rules</a></li>
                                        <li><a href="#">Pool Rules</a></li>
                                        <li><a href="#">Parking Rules</a></li>
                                    </ul>
                                </li>
                                <li><a href="#help">Help</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
        <!-- Scripts
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        
    </body>
</html>